@font-face
{
	font-family: matreshka
;
	src: url("/fonts/Matreshka.eot")
;
	src: local(matreshka), url("/fonts/Matreshka.ttf") format("opentype")
;
}
@font-face
{
	font-family: corrida
;
	src: url("/fonts/CorridaBold.eot")
;
	src: local(corrida), url("/fonts/CorridaBold.ttf") format("opentype")
;
}

@font-face
{
	font-family: tiffany
;
	src: url("/fonts/Tiffany.eot")
;
	src: local(tiffany), url("/fonts/Tiffany.ttf") format("opentype")
;
}
@font-face
{
	font-family: globus
;
	src: url("/fonts/Globus.eot")
;
	src: local(globus), url("/fonts/Globus.ttf") format("opentype")
;
}

body {
	background-color: #1983f9;
	margin: 0;
	padding: 0;
}
p {
	font: 1.2em tiffany;
}
.contentTable td {
	vertical-align: top;
}

.contentTable {
	width: 100%;
}

#contentTd {
	width: 68%;
}

.menuButtons {
	margin: 3px 3px 0;
	padding: 5px;
}

.rowSmallButton {
	float: left;
}

.info {
	vertical-align: top;
}

#content {
	background-image: url("/images/flower5.png");
	background-attachment: fixed;
	background-position: 79% 79%;
	background-repeat: no-repeat;
	width: 100%;
}

.topPanelContent {
/*float:left;*/
	width: 100%;
	position: relative;
}

#loginPanel {
	float: left;
	margin-top: 8px;
	margin-left: 8px;
}

#cartDiv {
	float: right;
	margin-top: 14px;
	margin-left: 40px;
}

#cartDivTop {
	float: right;
	margin: 0 0 0 0;
}

#cartInfo {
	margin-right: 15px;
}

#checkoutLink {
	margin: 10px 0 0;
}

#topPanel {
/*background-color:      #adff2f;*/
/*height:                120px;*/
	margin: 0;
}

#middle {
	background-color: #f0fff0;
	margin-top: 15px;
}

.content {
	margin: 0 auto;
}

.container {
	width: 1000px;
	margin: auto;
	background-color: #1983f9;
	margin-top: 10px;

	font-family: sans-serif;
	font-style: normal;
	font-size: 1.2em;
}

.vmenu {
/*width:                 165px;*/
	list-style-type: none;
	margin-top: 10px;
}

.vmenu li {
	margin-left: 0;
	margin-bottom: 0; /*font-weight:           bold;*/
	font-size: 110%; /*background-color: white;*/
/*background-image: url("/images/menu_background.png");*/
}

div.navMenuItem, div.sideMenuItem {
	position: relative;
	line-height: 20px;
	padding: 10px;
	margin: 0; /*display: inline;*/
}

div.navMenuItem {
	font-size: 200%;
}

div.navMenuItem {
	font-family:tiffany;
}

div.login {
	font-family:tiffany;
	font-size:200%;
	max-width:350px;
}

div.navMenuItem *, div.sideMenuItem * {
	position: relative;
}

a.navMenuLink {
	position: relative;
}

img.menubg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.menu_side {
/*display:inline;*/
	float: left;
}

.menu_links {
	margin: 15px 0;
}

.menuItem {
	padding: 0 10px;
	margin: 0;
}

.menuItem a {
	margin: 0;
	padding: 0 10px;
}

.menuTable {
	width: 100%;
	padding: 0;
	margin: 0;
}

.menuItemText, .topMenuItemText {
	padding: 5px 0;
	margin: 0;
	line-height:80%;
}

.topMenuItemText {
	margin: 0px;
}

.login, .cart {
	margin: 0 5px 0 0;
}

.cart {
	background: url(/images/cart_gift.png) center no-repeat;
	height: 300px;
}

.cartMenus {
	margin-top: 117px;
	margin-left: 30px;
	position: absolute;
}

#cartMenusId .menuItemText {
	padding: 5px;
}

.menuTable td {
	width: 30%;
}

#menu_content {
	overflow: auto;
	background-color: red;
}

#menu_content > div {
	font-size: 125%;
}

.menu_links li {
	display: inline;
}

#menu_links a:link, a:visited, a:hover, a:active {
	background-color: transparent;
}

a:link, a:visited {
	color: blue;
}

a:hover, a:active {
	color: blue;
}

.actionMenu {
	float: none;
}

.sideMenuLink {

}

.actionMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.actionMenu li {
	margin: 5px 0;
}

a, a:link {
	background-color: transparent;
}

a.menuItem:link, a.menuItem:visited {
	display: block;
	width: 130px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #98bf21;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
}

a.menuItem:hover, a.menuItem:active {
	background-color: #7A991A;
}

a.adminItem:link, a.adminItem:visited {
	background-color: #ffcccc;
	border: 1px solid;
}

a.adminItem:hover, a.adminItem:active {
	background-color: #ff9999;
}

#imageDiv {
	overflow: auto;
	margin: 0;
	border: 1px solid;
	padding: 1px;
}

.imageItem {
	float: left;
	margin: 0 1px;
}

div.img {
	margin: 0;
	border: 1px solid #0000ff;
	height: auto;
	width: auto;
	text-align: center;
	background-color: #FDE4A1;
}

div.img img {
	display: inline;
	margin: 3px;
	border: 1px solid #ffffff;
}

div.img a:hover img {
	border: 1px solid #0000ff;
}

div.desc, div.price {
	text-align: center;
	font-weight: normal;
	width: 120px;
	margin: 0 2px;
	padding: 6px 0;
}

div.desc {
	background-color: #fffc00;
}

div.price {
	background-color: #85D4F8;
}

div.iconBorderInner {
	border: 1px solid;
	padding: 10px;
	margin: 0;
	background-color: #dbedfa;
}

div.iconBorderOuter {
	border: 1px solid;
	padding: 1px;
	margin: 0;
}

.label {
	font: 15px arial, sans-serif;
}

.field {
	overflow: auto;
}

.field .label, .field .nonLabel {
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	font-weight: bold;
	width: 150px;
	text-align: right;
}

.field .nonLabel {
	float: none;
}

.field .input {
	float: left;
	width: 250px;
	text-align: left;
}

.output {
	overflow: auto;
	clear: both;
	margin: 10px 15px 0px
}

.output .name, .value {
	margin: 5px;
}

.output .name {
	float: left;
	font: italic bold 16px Georgia, serif;
}

.output .value {
	float: right;
}

.output .hugevalue {
	width: 200px;
	height: 100px;
	overflow: auto;
}

.images {
	float: left;
}

.images .img {

}

.mceIframeContainer iframe {
	width: 610px;
	height: 250px;
}

.imageEditSet {
	margin: 5px 0;
	border: 1px solid;
	padding: 7px;
}

.editImageMenuBar {
	margin:20px;
}

.makeMainImageButton, .isMainLabel {
	float: right;
	margin: 5px;
}

.deleteButton {
	float: left
}

.saveEditedImages {
	float: right;
}

.flip {
	background-color: mediumSpringGreen;
}

.topOutline {
	background-image: url(/images/top_border_small.png);
	background-repeat: repeat-x;
	width: 1033px;
	height: 25px;
	float: left;
}

.topCorner_left, .topCorner_right, .bottomCorner_left, .bottomCorner_right {
	background-image: url(/images/top_border_corner.png);
	background-repeat: no-repeat;
}

.topCorner_right {
	float: right;
	border-top: 1px solid;
	border-right: 1px solid;
	width: 20px;
	height: 24px;
}

.topCorner_left {
	float: left;
	border-top: 1px solid;
	border-left: 1px solid;
	width: 20px;
	height: 24px;
}

.bottomCorner_right {
	float: right;
	border-bottom: 1px solid;
	border-right: 1px solid;
	width: 20px;
	height: 24px;
}

.bottomCorner_left {
	float: left;
	border-bottom: 1px solid;
	border-left: 1px solid;
	width: 20px;
	height: 24px;
}

.topAlmostRight {
	background-image: url(/images/top_border_almost_right.png);
}

.top_bottomOutline {
	clear: both;
}

.sideOutlineRight, .sideOutlineLeft {
	width: 22px;
	height: 95px;
	background-image: url(/images/side_border.png);
	background-repeat: repeat-y;
	float: left;
}

.sideOutlineRight {
	float: right;
}

a.enter:link, a.enter:visited {
	background-image: url("/images/enter_button_mouseover.png");
}

a.enter:hover, a.enter:active {
	background-image: url("/images/enter_button_still.png");
}

.exclamation {
	font-size: larger;
	color: red;
}

.captcha {
	margin-left: 185px;
}

img.topPanelItem {
	float: left;
}

img.meitanLogo {
	width: 85%;
	margin-left: 5px;
}

.inKharkov {
	font-size: 2em;
	position: absolute;
	top: 85px;
	left: 500px;
}

.roof {
	width: 100%;
}

.newsTable {
	width: 100%;
}

.news, .good {
	overflow-x: auto;
	border: dotted blue 1px;
	padding: 10px;
	position: relative;
	margin-bottom: 100px;
}

.good {
	margin-bottom: 30px;
}

.newsLegend, .goodLegend {
	color: red;
	background-color: transparent;
}

.goodLegend {
	color: blue;
}

.editPanel {
	display: none;
}

.newsContent {
	margin: 0 7px;
}

.newsFlowersBottom {
	height: 90px;
	width: 650px;
	position: absolute;
	bottom: -121px;
	background: url("/images/flowersBottom.png") no-repeat;
}

h1 {
	text-align: left;
	font-family:corrida;
}

.h1div {
	background: url("/images/h1leaves.png") no-repeat;
	margin-left: 10px;
	height: 90px;
	padding-left: 31px;
}

.goodControls {
	margin: 10px;
}

.goodDesc {
	width: 100%;
	overflow: auto;
}

.checkoutTable {
	border-collapse: collapse;
	margin: 10px;
	margin-left:auto;
	margin-right:auto;
}

.checkoutTable input {
	width: 50%;
}

.checkoutHeader, .checkoutEvenRow, .checkoutOddRow, .checkoutTable td {
	border: 1px solid #076526;
	vertical-align: middle;
	padding: 4px;
}

.checkoutHeader {
	color: white;
	background-color: #0ca73f;
	font-size: 1.5em;
	line-height: 1em;
	text-align: center;
}

.checkoutItemNameCol {
	width: 50%;
}

.checkoutQuantityCol {
	width: 10%;
}

.checkoutDeleteCol {
	width: 20%;
}

.checkoutPriceCol {
	width: 20%;
}

.checkoutEvenRow {
	background-color: #c2ecd0;
}

.checkoutOddRow {
	background-color: #97c9a7;
}

td.checkoutFooter {
	background-color: #dce07c;
	text-align: right;
	padding: 15px;
	font-size: 1.5em;
}

caption.checkoutCaption {
	border: 1px solid #076526;
	background-color: #82E4A1;
	font-size: 1.4em;
	padding: 10px;
	font-style: italic;
	letter-spacing: 15px;
}

caption.checkoutCaption ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

caption.checkoutCaption ul li {
	display: inline;
}

caption.checkoutCaption ul li.captionIcon {
	margin: 5px;
}

table.itemsListTable .date {
	font-size:2em;
}
.dateColumn {
	width:34%;
	
}
table.innerTable {
	font-size: 0.8em;
	border-collapse: collapse;
	margin: auto;
	text-align:center;
	width:100%;
}

table.innerTable td, table.innerTable th {
	border: 1px solid black;
}

table.innerTable th {
	background-color: yellow;
	text-align:center;
}

table.innerTable td {
	background-color: #fffeb6;
}
table.innerTable td:first-child {
	width:50%;
}

table.innerTable td.listItemsDates {
	/*font-size:2em;*/
}

a.imagedLink {
	border:1px dotted green;
	padding:5px;
	text-decoration:none;
	font-size:150%;
	background-color:#ffd700;
	margin-right:9px;
}
#footer {
	margin-top:70px;
}
#footerImage{
	width:100%;
}
div.sun, div.leaves1, div.leaves2, div.leaves3, div.umbrella {
	position:absolute;
    z-index:-1;
}
div.sun {
   	right:-195px;
	top:-11px;
}

div.leaves1 {
    left:-234px;
    top:-18px;
	z-index:1;
}
div.leaves2{
    left:-244px;
    bottom:-715px
}
div.leaves3{
    right:-261px;
    bottom:-912px
}
div.umbrella{
    right:-246px;
    bottom:-340px;
}

ul.applyButton {
	list-style-type:none;
	margin-top:25px;
}

ul.applyButton li {
	display:inline;
}
ul.applyButton li.button {
	vertical-align:top;
}

.editImagesTable {
	width:100%;
}